* {
    box-sizing: border-box;
}

body {
    background-size: cover;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

#video-bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.welcome h1 {
    font-family: 'Segoe UI', sans-serif;
    font-size: 7em;
    color: white;
    text-shadow: 0 0 10px black;
    animation: main 3s forwards;
    text-shadow: white 0 0 15px;
}

nav {
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

nav li {
    margin: 0;
}

nav a {
    font-size: 20px;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: white;
    text-shadow: white 0 0 15px;
    animation: forwards main 3s;
}

nav a:hover {
    background-color: rgba(71, 71, 71, 0.5);
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

@keyframes main {
    0% {
        opacity: 0;
        transform: translateY(-150px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responzivita*/

@media (max-width: 800px) {
    .welcome h1 {
        font-size: 4em;
    }

    nav a {
        font-size: 18px;
        padding: 12px;
    }

    nav ul {
        gap: 20px;
    }
}

@media (max-width: 550px) {
    .welcome h1 {
        font-size: 2.5em;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        display: flex;
        padding: 0;
        margin: 0;
    }

    nav a {
        font-size: 16px;
        padding: 10px;
    }
}
